flows_JC.json
[
    {
        "id": "8a2d878a.a3a5c8",
        "type": "tab",
        "label": "MODBUS COM1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c6eaed0.02a382",
        "type": "tab",
        "label": "HTTP Gen QR",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1f88f690.e95cb9",
        "type": "tab",
        "label": "TCP from PLC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e1d6a6a1.aa3c28",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e46ff4fb.d77fc8",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "618d5f4c.a95f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "890778c.fdea288",
        "type": "ui_group",
        "name": "Default",
        "tab": "618d5f4c.a95f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d8835bff.8c58b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "211d2f3b.1c226",
        "type": "modbus-client",
        "name": "PLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "169.254.35.58",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "5d4e744e.592e0c",
        "type": "modbus-server",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "logEnabled": true,
        "hostname": "0.0.0.0",
        "serverPort": 10502,
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "435807f0.1bdba8"
            ],
            [
                "435807f0.1bdba8"
            ],
            [
                "435807f0.1bdba8"
            ],
            [
                "435807f0.1bdba8"
            ],
            [
                "435807f0.1bdba8"
            ]
        ]
    },
    {
        "id": "435807f0.1bdba8",
        "type": "debug",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "dbb31123.69e7",
        "type": "inject",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "5d4e744e.592e0c"
            ]
        ]
    },
    {
        "id": "cc2372ea.31f4c",
        "type": "modbus-flex-getter",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "e46ff4fb.d77fc8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 750,
        "y": 40,
        "wires": [
            [],
            [
                "77da514b.4f93"
            ]
        ]
    },
    {
        "id": "40751930.c248b8",
        "type": "inject",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "2cda464.94729ba"
            ]
        ]
    },
    {
        "id": "2cda464.94729ba",
        "type": "function",
        "z": "8a2d878a.a3a5c8",
        "name": "FC3 0 [4]",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0 ,\n    'quantity': 6\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "cc2372ea.31f4c"
            ]
        ]
    },
    {
        "id": "77da514b.4f93",
        "type": "modbus-response",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "registerShowMax": "6",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "c68bdb0a.5cf968",
        "type": "random",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "low": "1",
        "high": "5555",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "9ae7ec7d.d1ab1"
            ]
        ]
    },
    {
        "id": "7a5ef42.106d40c",
        "type": "inject",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "c68bdb0a.5cf968"
            ]
        ]
    },
    {
        "id": "87f469a.61c6898",
        "type": "comment",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "info": "0-5 register TCP modbus for MAC \n\n6-7-8 -> READ for reguest to server\n\n9-10-11 -> WRITE TO PLC from get\n\n",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "b85347ee.c01de8",
        "type": "function",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "func": "msg.payload = { \n     value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 0 , \n    'quantity': 6\n    \n} \n    \nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "64da3788.60d888"
            ]
        ]
    },
    {
        "id": "9ae7ec7d.d1ab1",
        "type": "join",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "b85347ee.c01de8"
            ]
        ]
    },
    {
        "id": "64da3788.60d888",
        "type": "modbus-flex-write",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "e46ff4fb.d77fc8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1030,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d846a208.1b82",
        "type": "random",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "low": "1",
        "high": "5555",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "4fc1d0ab.4058"
            ]
        ]
    },
    {
        "id": "f524487.629a4b8",
        "type": "inject",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "d846a208.1b82"
            ]
        ]
    },
    {
        "id": "15db9586.88557a",
        "type": "function",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "func": "msg.payload = { \n     value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 7 , \n    'quantity': 3\n    \n} \n    \nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "43aa4a34.1c99b4"
            ]
        ]
    },
    {
        "id": "4fc1d0ab.4058",
        "type": "join",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "15db9586.88557a"
            ]
        ]
    },
    {
        "id": "43aa4a34.1c99b4",
        "type": "modbus-flex-write",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "e46ff4fb.d77fc8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1030,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d059be7a.50264",
        "type": "modbus-flex-getter",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "e46ff4fb.d77fc8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 750,
        "y": 100,
        "wires": [
            [],
            [
                "30a9a4b6.f3fcbc"
            ]
        ]
    },
    {
        "id": "6e97cf2b.d90bc",
        "type": "inject",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "52c0d78.bf1aa28"
            ]
        ]
    },
    {
        "id": "52c0d78.bf1aa28",
        "type": "function",
        "z": "8a2d878a.a3a5c8",
        "name": "FC3 0 [4]",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 7 ,\n    'quantity': 3\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "d059be7a.50264"
            ]
        ]
    },
    {
        "id": "30a9a4b6.f3fcbc",
        "type": "modbus-response",
        "z": "8a2d878a.a3a5c8",
        "name": "",
        "registerShowMax": 20,
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "2f40f168.ee2b3e",
        "type": "http in",
        "z": "2c6eaed0.02a382",
        "name": "",
        "url": "qr",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "e5cd8f75.6f2fe"
            ]
        ]
    },
    {
        "id": "3539295e.a3af36",
        "type": "http response",
        "z": "2c6eaed0.02a382",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html"
        },
        "x": 2180,
        "y": 560,
        "wires": []
    },
    {
        "id": "c3b60347.29031",
        "type": "qrcode-generator",
        "z": "2c6eaed0.02a382",
        "name": "",
        "qrtype": "text2qr",
        "text2qrText": "qrcodeinput",
        "ssid": "",
        "hiddenssid": false,
        "wifitype": "",
        "phonenum": "",
        "smsphonenum": "",
        "smstext": "",
        "mailto": "",
        "mailsubject": "",
        "mailbody": "",
        "latitude": "",
        "longitude": "",
        "colorlight": "#ffffff",
        "colordark": "#000000",
        "printstatus": true,
        "x": 1810,
        "y": 560,
        "wires": [
            [
                "a8ba9aed.249a28"
            ]
        ]
    },
    {
        "id": "a8ba9aed.249a28",
        "type": "template",
        "z": "2c6eaed0.02a382",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img src=\"{{{payload}}}\">",
        "output": "str",
        "x": 2000,
        "y": 560,
        "wires": [
            [
                "3539295e.a3af36"
            ]
        ]
    },
    {
        "id": "a570488c.3719b8",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "43f246e3.5a54c8"
            ]
        ]
    },
    {
        "id": "7ca56250.772eac",
        "type": "debug",
        "z": "2c6eaed0.02a382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "43f246e3.5a54c8",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 7\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "86501a6a.9194d8"
            ]
        ]
    },
    {
        "id": "86501a6a.9194d8",
        "type": "modbus-flex-getter",
        "z": "2c6eaed0.02a382",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "211d2f3b.1c226",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 590,
        "y": 340,
        "wires": [
            [],
            [
                "1b96f09.ed94a0f",
                "7ca56250.772eac"
            ]
        ]
    },
    {
        "id": "1b96f09.ed94a0f",
        "type": "modbus-response",
        "z": "2c6eaed0.02a382",
        "name": "",
        "registerShowMax": 20,
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "995e9f47.aba62",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "b80fcbc0.250708"
            ]
        ]
    },
    {
        "id": "b80fcbc0.250708",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "msg.payload = { \n    'value': -222, \n    'fc': 6,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 6\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "f2a153dd.082d7"
            ]
        ]
    },
    {
        "id": "f2a153dd.082d7",
        "type": "modbus-flex-write",
        "z": "2c6eaed0.02a382",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "211d2f3b.1c226",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 590,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "74c28c0.82c0b74",
        "type": "conf ping",
        "z": "2c6eaed0.02a382",
        "name": "",
        "host": "www.google.dk",
        "timeout": "5",
        "requests": "1",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "2a6f74c5.90a22c"
            ]
        ]
    },
    {
        "id": "755cb135.452b8",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "74c28c0.82c0b74"
            ]
        ]
    },
    {
        "id": "2a6f74c5.90a22c",
        "type": "switch",
        "z": "2c6eaed0.02a382",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "24b2a306.fbe0ec",
                "1b48ffdf.fcf7c"
            ],
            [
                "3470ccdd.1c0914",
                "1b48ffdf.fcf7c"
            ]
        ]
    },
    {
        "id": "24b2a306.fbe0ec",
        "type": "modbus-flex-write",
        "z": "2c6eaed0.02a382",
        "name": "No internet",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "211d2f3b.1c226",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 910,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3470ccdd.1c0914",
        "type": "modbus-flex-write",
        "z": "2c6eaed0.02a382",
        "name": "Internet",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "211d2f3b.1c226",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 900,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1b48ffdf.fcf7c",
        "type": "debug",
        "z": "2c6eaed0.02a382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "3915db24.b793f4",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"0\":\"A\",\"1\":\"B\",\"2\":\"C\",\"3\":\"D\",\"4\":\"E\",\"5\":\"F\",\"6\":\"17\",\"7\":\"0,23\"}",
        "payloadType": "json",
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "3472a62a.8115aa"
            ]
        ]
    },
    {
        "id": "3472a62a.8115aa",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "var d = msg.payload;\nvar mac = `${d[0]}-${d[1]}-${d[2]}-${d[3]}-${d[4]}-${d[5]}`;\nvar machineNumber = d[6];\n\nvar newMsg = {payload: mac}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 480,
        "wires": [
            [
                "c3b60347.29031",
                "1b6a21f8.dabeee"
            ]
        ]
    },
    {
        "id": "1b6a21f8.dabeee",
        "type": "debug",
        "z": "2c6eaed0.02a382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 320,
        "wires": []
    },
    {
        "id": "7083707e.f7f6b",
        "type": "template",
        "z": "2c6eaed0.02a382",
        "name": "",
        "field": "qrcodeinput",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "234234234234234",
        "output": "str",
        "x": 1620,
        "y": 700,
        "wires": [
            [
                "c3b60347.29031"
            ]
        ]
    },
    {
        "id": "e5cd8f75.6f2fe",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 7\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1180,
        "y": 560,
        "wires": [
            [
                "94d0923e.8669d"
            ]
        ]
    },
    {
        "id": "94d0923e.8669d",
        "type": "modbus-flex-getter",
        "z": "2c6eaed0.02a382",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "211d2f3b.1c226",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1390,
        "y": 560,
        "wires": [
            [],
            [
                "3472a62a.8115aa"
            ]
        ]
    },
    {
        "id": "3595f2bc.98995e",
        "type": "http in",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "url": "qr",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "cdcb81d.d8e2f8"
            ]
        ]
    },
    {
        "id": "cdcb81d.d8e2f8",
        "type": "function",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 7\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "95abc95a.2f92e8"
            ]
        ]
    },
    {
        "id": "95abc95a.2f92e8",
        "type": "modbus-flex-getter",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "211d2f3b.1c226",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 550,
        "y": 360,
        "wires": [
            [],
            [
                "b693e873.5ffb58"
            ]
        ]
    },
    {
        "id": "b693e873.5ffb58",
        "type": "function",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "func": "var d = msg.payload;\nvar mac = `${d[0]}-${d[1]}-${d[2]}-${d[3]}-${d[4]}-${d[5]}`;\nvar machineNumber = d[6];\n\nvar newMsg = {payload: mac}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "b2e9e85a.371c38",
                "9fb6360c.0208a8"
            ]
        ]
    },
    {
        "id": "288f4c38.da6e74",
        "type": "inject",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"0\":\"A\",\"1\":\"B\",\"2\":\"C\",\"3\":\"D\",\"4\":\"E\",\"5\":\"F\",\"6\":\"17\",\"7\":\"0,23\"}",
        "payloadType": "json",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "b693e873.5ffb58"
            ]
        ]
    },
    {
        "id": "b2e9e85a.371c38",
        "type": "qrcode-generator",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "qrtype": "text2qr",
        "text2qrText": "qrcodeinput",
        "ssid": "",
        "hiddenssid": false,
        "wifitype": "",
        "phonenum": "",
        "smsphonenum": "",
        "smstext": "",
        "mailto": "",
        "mailsubject": "",
        "mailbody": "",
        "latitude": "",
        "longitude": "",
        "colorlight": "#ffffff",
        "colordark": "#000000",
        "printstatus": true,
        "x": 970,
        "y": 360,
        "wires": [
            [
                "591824e9.36c03c"
            ]
        ]
    },
    {
        "id": "9fb6360c.0208a8",
        "type": "debug",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "591824e9.36c03c",
        "type": "template",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img src=\"{{{payload}}}\">",
        "output": "str",
        "x": 1160,
        "y": 360,
        "wires": [
            [
                "930576f5.af0a98"
            ]
        ]
    },
    {
        "id": "b0bc2eec.74026",
        "type": "template",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "field": "qrcodeinput",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "234234234234234",
        "output": "str",
        "x": 900,
        "y": 560,
        "wires": [
            [
                "b2e9e85a.371c38"
            ]
        ]
    },
    {
        "id": "930576f5.af0a98",
        "type": "http response",
        "z": "e1d6a6a1.aa3c28",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html"
        },
        "x": 1340,
        "y": 360,
        "wires": []
    }
]