flows_wm.json
[{"id":"599d34db.077b0c","type":"tab","label":"HTTP Gen QR","disabled":false,"info":""},{"id":"e46ff4fb.d77fc8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"211d2f3b.1c226","type":"modbus-client","name":"PLC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.2.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"618d5f4c.a95f","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"890778c.fdea288","type":"ui_group","name":"Default","tab":"618d5f4c.a95f","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8835bff.8c58b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4f4e163.0866ae8","type":"http in","z":"599d34db.077b0c","name":"","url":"qr","method":"get","upload":false,"swaggerDoc":"","x":1070,"y":260,"wires":[["ab643fdc.d56f5"]]},{"id":"8fb185a6.214bc8","type":"http response","z":"599d34db.077b0c","name":"","statusCode":"200","headers":{"content-type":"text/html"},"x":2380,"y":200,"wires":[]},{"id":"19cd9325.f7972d","type":"qrcode-generator","z":"599d34db.077b0c","name":"","qrtype":"text2qr","text2qrText":"qrcodeinput","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":1850,"y":60,"wires":[["2314d29.97efd2e"]]},{"id":"2314d29.97efd2e","type":"template","z":"599d34db.077b0c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img style=\"height: 100%;\" src=\"{{{payload}}}\">\n","output":"str","x":2100,"y":140,"wires":[["4c32450a.29ab1c","8fb185a6.214bc8"]]},{"id":"24c4e47f.4baa2c","type":"inject","z":"599d34db.077b0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["e290bf37.87cdb"]]},{"id":"5de148f6.cc0458","type":"debug","z":"599d34db.077b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"e290bf37.87cdb","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 7\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["be3e7202.e1761"]]},{"id":"be3e7202.e1761","type":"modbus-flex-getter","z":"599d34db.077b0c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"211d2f3b.1c226","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":610,"y":140,"wires":[[],["c7ef0b36.bbe1e8","5de148f6.cc0458"]]},{"id":"c7ef0b36.bbe1e8","type":"modbus-response","z":"599d34db.077b0c","name":"","registerShowMax":20,"x":850,"y":140,"wires":[]},{"id":"88a3ede3.5cac2","type":"inject","z":"599d34db.077b0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":240,"wires":[["6bba894.e817d78"]]},{"id":"6bba894.e817d78","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': -222, \n    'fc': 6,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 6\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[["4bce298c.6089b8"]]},{"id":"4bce298c.6089b8","type":"modbus-flex-write","z":"599d34db.077b0c","name":"","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":260,"wires":[[],[]]},{"id":"1bc0ccae.4f1563","type":"inject","z":"599d34db.077b0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1450,"y":380,"wires":[["d8b55af.945fca8"]]},{"id":"ac385043.6cd6e","type":"modbus-flex-write","z":"599d34db.077b0c","name":"No internet","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2430,"y":400,"wires":[[],[]]},{"id":"99297d47.31b18","type":"modbus-flex-write","z":"599d34db.077b0c","name":"Internet","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2500,"y":340,"wires":[[],[]]},{"id":"ab643fdc.d56f5","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 99\n} \nnode.send(msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":260,"wires":[["242bda9e.c2dc96"]]},{"id":"242bda9e.c2dc96","type":"modbus-flex-getter","z":"599d34db.077b0c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"211d2f3b.1c226","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":1450,"y":260,"wires":[[],["5fc00fa1.bf9a8"]]},{"id":"5fc00fa1.bf9a8","type":"template","z":"599d34db.077b0c","name":"","field":"qrcodeinput","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.data}},1209","output":"str","x":1660,"y":200,"wires":[["19cd9325.f7972d","bc75c3b2.aa31b"]]},{"id":"88a1b7e7.0c1cb8","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': 0, \n    'fc': 6,\n    'unitid': 1, \n    'address': 100,\n    'quantity': 1\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":400,"wires":[["ac385043.6cd6e"]]},{"id":"d184220d.fa5f9","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': 1, \n    'fc': 6,\n    'unitid': 1, \n    'address': 100,\n    'quantity': 1\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2160,"y":320,"wires":[["99297d47.31b18"]]},{"id":"4c32450a.29ab1c","type":"debug","z":"599d34db.077b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2270,"y":80,"wires":[]},{"id":"bc75c3b2.aa31b","type":"debug","z":"599d34db.077b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1860,"y":180,"wires":[]},{"id":"d8b55af.945fca8","type":"conf ping","z":"599d34db.077b0c","name":"","host":"www.google.com","timeout":"5","requests":"1","x":1790,"y":380,"wires":[["96745d8d.5eacf"]]},{"id":"96745d8d.5eacf","type":"switch","z":"599d34db.077b0c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1990,"y":380,"wires":[["d184220d.fa5f9"],["88a1b7e7.0c1cb8"]]},{"id":"6c2e36fe.56c438","type":"http request","z":"599d34db.077b0c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://support.wheelrestore.com/rest-server/index.php/api/auth/valid/serial/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":340,"wires":[["f5f5427f.8bfaa"]]},{"id":"f5f5427f.8bfaa","type":"switch","z":"599d34db.077b0c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"[{\"i\":\"Sold\"}]","vt":"str"},{"t":"eq","v":"[{\"i\":\"STOP\"}]","vt":"str"},{"t":"eq","v":"[{\"i\":\"FSG\"}]","vt":"str"},{"t":"eq","v":"\"0\"","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":670,"y":360,"wires":[["73eff5cc.e0e85c","e460e85a.58bfa8"],["3004856d.72321a","e460e85a.58bfa8"],["b8d3d10.575b53","e460e85a.58bfa8"],["bcf18a10.1bf8f8","e460e85a.58bfa8"]]},{"id":"8467ce56.bb522","type":"modbus-flex-write","z":"599d34db.077b0c","name":"Sold","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1050,"y":360,"wires":[[],[]]},{"id":"73eff5cc.e0e85c","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': 2, \n    'fc': 6,\n    'unitid': 1, \n    'address': 101,\n    'quantity': 1\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["8467ce56.bb522"]]},{"id":"a36600c3.4e174","type":"modbus-flex-write","z":"599d34db.077b0c","name":"Locked","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1060,"y":400,"wires":[[],[]]},{"id":"3004856d.72321a","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': 3, \n    'fc': 6,\n    'unitid': 1, \n    'address': 101,\n    'quantity': 1\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":400,"wires":[["a36600c3.4e174"]]},{"id":"784565ef.5f1a6c","type":"modbus-flex-write","z":"599d34db.077b0c","name":"Valid / FSG","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1070,"y":440,"wires":[[],[]]},{"id":"b8d3d10.575b53","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': 1, \n    'fc': 6,\n    'unitid': 1, \n    'address': 101,\n    'quantity': 1\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":440,"wires":[["784565ef.5f1a6c"]]},{"id":"f0805f1.ba6aea","type":"modbus-flex-write","z":"599d34db.077b0c","name":"Unkown","showStatusActivities":false,"showErrors":false,"server":"211d2f3b.1c226","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1060,"y":480,"wires":[[],[]]},{"id":"bcf18a10.1bf8f8","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'value': 0, \n    'fc': 6,\n    'unitid': 1, \n    'address': 101,\n    'quantity': 1\n} \n return msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["f0805f1.ba6aea"]]},{"id":"8a0974ae.6dfc48","type":"function","z":"599d34db.077b0c","name":"","func":"msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 6,\n    'quantity': 1\n} \nnode.send(msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":480,"wires":[["9a97a050.21f47"]]},{"id":"9a97a050.21f47","type":"modbus-flex-getter","z":"599d34db.077b0c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"211d2f3b.1c226","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":370,"y":440,"wires":[[],["6c2e36fe.56c438"]]},{"id":"e460e85a.58bfa8","type":"debug","z":"599d34db.077b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":280,"wires":[]},{"id":"52a605b.750edfc","type":"inject","z":"599d34db.077b0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":120,"y":360,"wires":[["8a0974ae.6dfc48"]]}]
