flows_JC.json
[
    {
        "id": "2c6eaed0.02a382",
        "type": "tab",
        "label": "HTTP Gen QR",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4074d503.6631ec",
        "type": "tab",
        "label": "New Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e46ff4fb.d77fc8",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "618d5f4c.a95f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "890778c.fdea288",
        "type": "ui_group",
        "name": "Default",
        "tab": "618d5f4c.a95f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d8835bff.8c58b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "211d2f3b.1c226",
        "type": "modbus-client",
        "name": "PLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "169.254.35.58",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "2f40f168.ee2b3e",
        "type": "http in",
        "z": "2c6eaed0.02a382",
        "name": "",
        "url": "qr",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 50,
        "y": 640,
        "wires": [
            [
                "e5cd8f75.6f2fe"
            ]
        ]
    },
    {
        "id": "3539295e.a3af36",
        "type": "http response",
        "z": "2c6eaed0.02a382",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html"
        },
        "x": 1220,
        "y": 660,
        "wires": []
    },
    {
        "id": "c3b60347.29031",
        "type": "qrcode-generator",
        "z": "2c6eaed0.02a382",
        "name": "",
        "qrtype": "text2qr",
        "text2qrText": "qrcodeinput",
        "ssid": "",
        "hiddenssid": false,
        "wifitype": "",
        "phonenum": "",
        "smsphonenum": "",
        "smstext": "",
        "mailto": "",
        "mailsubject": "",
        "mailbody": "",
        "latitude": "",
        "longitude": "",
        "colorlight": "#ffffff",
        "colordark": "#000000",
        "printstatus": true,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "a8ba9aed.249a28"
            ]
        ]
    },
    {
        "id": "a8ba9aed.249a28",
        "type": "template",
        "z": "2c6eaed0.02a382",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img src=\"{{{payload}}}\">",
        "output": "str",
        "x": 1040,
        "y": 660,
        "wires": [
            [
                "3539295e.a3af36"
            ]
        ]
    },
    {
        "id": "a570488c.3719b8",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "43f246e3.5a54c8"
            ]
        ]
    },
    {
        "id": "7ca56250.772eac",
        "type": "debug",
        "z": "2c6eaed0.02a382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 20,
        "wires": []
    },
    {
        "id": "43f246e3.5a54c8",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 7\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "86501a6a.9194d8"
            ]
        ]
    },
    {
        "id": "86501a6a.9194d8",
        "type": "modbus-flex-getter",
        "z": "2c6eaed0.02a382",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "211d2f3b.1c226",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 530,
        "y": 140,
        "wires": [
            [],
            [
                "1b96f09.ed94a0f",
                "7ca56250.772eac"
            ]
        ]
    },
    {
        "id": "1b96f09.ed94a0f",
        "type": "modbus-response",
        "z": "2c6eaed0.02a382",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "995e9f47.aba62",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "b80fcbc0.250708"
            ]
        ]
    },
    {
        "id": "b80fcbc0.250708",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "msg.payload = { \n    'value': -222, \n    'fc': 6,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 6\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "f2a153dd.082d7"
            ]
        ]
    },
    {
        "id": "f2a153dd.082d7",
        "type": "modbus-flex-write",
        "z": "2c6eaed0.02a382",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "211d2f3b.1c226",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 530,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "74c28c0.82c0b74",
        "type": "conf ping",
        "z": "2c6eaed0.02a382",
        "name": "",
        "host": "www.google.dk",
        "timeout": "5",
        "requests": "1",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "2a6f74c5.90a22c"
            ]
        ]
    },
    {
        "id": "755cb135.452b8",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "74c28c0.82c0b74"
            ]
        ]
    },
    {
        "id": "2a6f74c5.90a22c",
        "type": "switch",
        "z": "2c6eaed0.02a382",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "24b2a306.fbe0ec",
                "1b48ffdf.fcf7c"
            ],
            [
                "3470ccdd.1c0914",
                "1b48ffdf.fcf7c"
            ]
        ]
    },
    {
        "id": "24b2a306.fbe0ec",
        "type": "modbus-flex-write",
        "z": "2c6eaed0.02a382",
        "name": "No internet",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "211d2f3b.1c226",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 850,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3470ccdd.1c0914",
        "type": "modbus-flex-write",
        "z": "2c6eaed0.02a382",
        "name": "Internet",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "211d2f3b.1c226",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 840,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1b48ffdf.fcf7c",
        "type": "debug",
        "z": "2c6eaed0.02a382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "3915db24.b793f4",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"0\":\"A\",\"1\":\"B\",\"2\":\"C\",\"3\":\"D\",\"4\":\"E\",\"5\":\"F\",\"6\":\"17\",\"7\":\"0,23\"}",
        "payloadType": "json",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "3472a62a.8115aa"
            ]
        ]
    },
    {
        "id": "3472a62a.8115aa",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "var d = msg.payload;\nvar mac = `${d[0]}-${d[1]}-${d[2]}-${d[3]}-${d[4]}-${d[5]}`;\nvar machineNumber = d[6];\n\nvar newMsg = {payload: mac}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "1b6a21f8.dabeee",
                "7083707e.f7f6b"
            ]
        ]
    },
    {
        "id": "1b6a21f8.dabeee",
        "type": "debug",
        "z": "2c6eaed0.02a382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "e5cd8f75.6f2fe",
        "type": "function",
        "z": "2c6eaed0.02a382",
        "name": "",
        "func": "msg.payload = { \n    'fc': 3,\n    'unitid': 1, \n    'address': 0,\n    'quantity': 7\n} \n return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "94d0923e.8669d"
            ]
        ]
    },
    {
        "id": "94d0923e.8669d",
        "type": "modbus-flex-getter",
        "z": "2c6eaed0.02a382",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "211d2f3b.1c226",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 430,
        "y": 660,
        "wires": [
            [],
            [
                "3472a62a.8115aa"
            ]
        ]
    },
    {
        "id": "7083707e.f7f6b",
        "type": "template",
        "z": "2c6eaed0.02a382",
        "name": "",
        "field": "qrcodeinput",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 700,
        "y": 560,
        "wires": [
            [
                "c3b60347.29031"
            ]
        ]
    },
    {
        "id": "2c159fcf.2d267",
        "type": "inject",
        "z": "2c6eaed0.02a382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"0\":\"A\",\"1\":\"B\",\"2\":\"C\",\"3\":\"D\",\"4\":\"E\",\"5\":\"F\",\"6\":\"17\",\"7\":\"0,23\"}",
        "payloadType": "json",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "e5cd8f75.6f2fe"
            ]
        ]
    }
]